version: '2.1'
orbs:
  cypress: cypress-io/cypress@3
executor: cypress/default
workflows:
  use-my-orb:
    jobs:
      - cypress/run:
          cypress-command: npx cypress run --browser chrome
          install-browsers: true
